#content{
	width:1030px;
    height:620px;
    margin:0 auto;
}
#footer{
    height:105px;
    width:1030px;
    background-image: url(images/1.jpg);
	background-repeat: no-repeat;
	position:relative;
	top:10px;
    left:140px;
}
.content_left{
    width:280px;
    height:720px;
    float:left;
}
.change{
    background-color:rgb(245,245,245);
    width:220px;
    height:250px;
    position:relative;
    left:20px;
    float:left;
}
.change_ul{
    list-style: none;
    background-image: url(images/menubg.gif);
    background-repeat: no-repeat;
    line-height:26px;
    margin-left:40px;
}
.last{
    background-color:rgb(245,245,245);
    width:220px;
    height:200px;
    margin-top:5px;
    position:relative;
    left:20px;
    float:left;
}
.last_news{
    margin-left:15px;
}
.last_ul{
    list-style: none;
    line-height:26px;
    margin-left:30px;
}
.tel{
    margin-left:32px;
    margin-top:5px;
}
.content_right{
    width:700px;
    height:580px;
    float:left;
}
.qishi1{
    background-image: url(images/listtitle.png);
    background-repeat: no-repeat;
    width:680px;
    height:40px;
}
.qishi2{
    margin-top:15px;
    margin-left:50px;
}
.ul1{
    line-height:32px;
    margin-left:5px;
}
.zhengwen{
    width:400px;
    height:495px;
    float:left;
}
.riqi{
    width:200px;
    height:495px;
    float:right;
}
.ul2{
    list-style: none;
    line-height:32px;
    margin-left:20px;
}
.pag{
    width: 753px;
    height: 50px;
    margin-top: 20px;
}
.pag_p{
    margin-bottom: 30px;
    margin-left: 170px;
    float: left;
}
.pag1{
    width: 25px;
    height: 18px;
    float: left;
    margin-right: 2px;
    border:2px solid #f8f5ee;
 }
.pag2{
    width: 25px;
    height: 18px;
    float: left;
    margin-right: 2px;
    border:2px solid gray;
}
.footer_list{
    height:20px;
    width:520px;
    position:relative;
    left:260px;
    top:0px;
}
.footer_list2{
    height:2px;
    width:500px;
    background-image: url(images/line.jpg);
    background-repeat: no-repeat;
    position:relative;
    top:20px;
    left:260px;
}
.footer_list3{
    height:20px;
    width:520px;
    position:relative;
    top:20px;
    left:350px;
}
.footer_list4{
    height:20px;
    width:520px;
    position:relative;
    top:20px;
    left:400px;
}